<!-- login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>

    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Login</h3>

                <!-- Display Error Message -->
                <% if (errorMessage) { %>
                    <div class="alert alert-danger">
                        <%= errorMessage %>
                    </div>
                <% } %>

                <!-- Display Reset Password Success Message -->
                <% if (resetPasswordMessage) { %>
                    <div class="alert alert-success">
                        <%= resetPasswordMessage %>
                    </div>
                <% } %>

                <form method="POST" action="/login" class="my-5" id="loginForm">
                    <div class="form-group">
                        <label for="userIdentifier">Username or Email</label>
                        <input type="text" class="form-control" id="userIdentifier" name="userIdentifier" placeholder="Enter your username or email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-3">Login</button>
                </form>

                <p class="text-center mt-3">
                    Don't have an account? <a href="/register">Register here</a>
                </p>
                <p class="text-center mt-3">
                    Forgot your password? <a href="/forgot-password">Reset it here</a>
                </p>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>